{% extends 'base.html'%}
{% block title %}Signup{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Sign up</h3>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="enter email">
    </div>
    <div class="form-group">
        <label for="firstName">First name:</label>
        <input type="firstname" class="form-control" id="firstname" name="firstname" placeholder="enter firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Lastname:</label>
        <input type="lastname" class="form-control" id="lastname" name="lastname" placeholder="enter lastname">
    </div>
    <div class="form-group">
        <label for="age">Age:</label>
        <input type="age" class="form-control" id="age" name="age" placeholder="enter age">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="enter password">
    </div>
    <div class="form-group">
        <label for="password2">Confirm password:</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="confirm password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
